body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.contacts-table {
    width: 100%;
    margin: 20px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd; 
}
.header-cell, .body-cell {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.header-cell {
    background-color: #ee1414;
}
.body-row:nth-child(even) {
    background-color: #e0dede;
}
.body-row:hover {
    background-color: #f1f1f1;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.loading-bar {
    height: 100%;
    width: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    animation: loading 5s linear infinite;
}
@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.animated-button {
    background-color: #ADD8E6;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    animation: move 2s linear infinite;
    margin-top: 10px;
    margin-bottom: 10px;
}
.animated-button:hover {
    animation: none;
}
@keyframes move {
    0%,10% { transform: translateX(0); }
    20%,30% { transform: translateX(-20px); }
    40%,50% { transform: translateX(20px); }
    60%,100% { transform: translateX(0px); }
}

.hover-button {
    background-color: #ADD8E6;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hover-button:hover {
    box-shadow: 0 4px 8px rgb(63, 63, 63);
}
